<!-- <mat-form-field> -->
    <!-- mat-label to be inserted here -->
    <!-- <mat-select> -->
        <!-- mat-optgroup label=""    for grouping related options -->
        <!-- <mat-option value="{{select.option.value}}">
           {{select.option.text}}     
        </mat-option>
    </mat-select>
</mat-form-field> -->
<!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <h1>sleect</h1>