<!-- <app-header></app-header> -->
<div *ngFor="let component of dataSource">
  <div *ngIf="component.type == 'FORM'">
    <mat-card class="cardClass mat-elevation-z8">
      <app-form [data]="component"></app-form>
    </mat-card>
  </div>
  <div *ngIf="component.type == 'TABLE'">
    <mat-card>
      <app-table [data]="component"></app-table>
    </mat-card>
  </div>
  <div *ngIf="component.type == 'header'">
    <app-header [data]="component"></app-header>
  </div>
  <div *ngIf="component.type == 'footer'">
    <app-footer [data]="component"></app-footer>
  </div>
</div>
<!-- <app-footer></app-footer> -->
