<!-- <app-header></app-header> -->
<div *ngFor="let component of dataSource">
  <div *ngIf="component.type == 'FORM'">
    <mat-card class="cardClass mat-elevation-z8">
      <app-form [data]="component"></app-form>
    </mat-card>
  </div>
  <div *ngIf="component.type == 'TABLE'">
    <mat-card>
      <app-table [data]="component"></app-table>
    </mat-card>
  </div>
  <div *ngIf="component.type == 'header'">
    <div *ngIf="component.properties.uiProperty.type == 'Horizontal'">
      <app-header [data]="component.properties"></app-header>
    </div>
  </div>
  <div *ngIf="component.type == 'sidenav'">
    <div *ngIf="component.properties.uiProperty.type == 'Vertical'">
      <app-sidenav [data]="component.properties"></app-sidenav>
    </div>
  </div>
  <div *ngIf="component.type == 'footer'">
    <app-footer [data]="component.properties"></app-footer>
  </div>
  <div *ngIf="component.type == 'snackbar'">
    <app-snackbar [data]="component.properties"></app-snackbar>
  </div>
</div>
<!-- <app-snackbar></app-snackbar> -->
<!-- <app-footer></app-footer> -->
