<div *ngFor='let ele of data.elements'>
    <!-- <mat-card> -->
        <div [ngSwitch]="ele.type">
            <div *ngSwitchCase="'input'">
                <app-input [data]='ele.properties'></app-input>
            </div>
            <div *ngSwitchCase="'button'">
                <app-button [data]='ele.properties'></app-button>
            </div>
            <div *ngSwitchCase="'textarea'">
                <app-textarea [data]='ele.properties'></app-textarea>
            </div>
            <div *ngSwitchCase="'radio'">
                <app-radiobutton [data]='ele.properties'></app-radiobutton>
            </div>
            <div *ngSwitchCase="'checkbox'">
                <app-checkbox [data]='ele.properties'></app-checkbox>
            </div>
            <div *ngSwitchCase="'select'">
                <app-select [data]='ele.properties'></app-select>
            </div>
        </div>
    <!-- </mat-card> -->
</div>